'use strict'

class {{ name }} {
    public async show(): Promise<any> {
        
    }

    public async store(): Promise<any> {

    }

    public async find(): Promise<any> {

    }

    public async update(): Promise<any> {

    }

    public async delete(): Promise<any> {

    }
}

module.exports = {{ name }}
